
html{
  background-color: #cecece;
}

body {
  background-color: #cecece;
  margin:0;
  padding:0;
  height:100%;
}

#container {
   min-height:100%;
   position:relative;
}
#header {
   background:#ff0;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:150px;   /* Height of the footer */
}
#footer {
   bottom:0;
   width:100%;
   height:auto;   /* Height of the footer */
   background:#6cf;
}
.push {
  height: 60px;
}

.description{
  background-color: white;
  padding: 15px;
  height: auto;
  min-height: 500px;
  min-width: 500px;
  width:auto;
  max-width: 600px;
}

.btn-wide{
  width:90%;
  max-width: 500px;
  position: absolute;
  bottom: 0
}

.justifyCenter{
  justify-content: center;
}
